<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <style>
        @page {
            size: Letter;
            margin: 0.2in 0.2in 0.2in 0.2in;
        }
        .page{
            page-break-before: always;
        }
        html, body{
            font-size:8px;
            font-family: sans-serif;
        }

        h1{
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
        }
        h2{
            font-weight: bold;
            text-transform: uppercase;
        }
        h3 {
            text-transform: uppercase;
        }
        .small_ital{
            font-size: 7px;
            font-style: italic;
        }
        .small {
            font-size: 7px;
        }
        .width_100{
           width:100%;
        }
        table {
            border-collapse: collapse;
        }
        table tr, table td {
            border: none;
            vertical-align: top;
            padding: 1px 2px;
        }
        .middle > tr > td{
            vertical-align: middle;
        }
        table tr.higher {
            height: 20px;
        }
        table tr.normal {
            height: 14px;
        }
        tbody.bordered > tr > td{
            border: black 1px solid;
        }
        div.checkbox {
            display: inline-block;
            height:10px;
            width:10px;
            border-radius: 2px;
            border: black 1px solid;
            margin: 0 5px -2px;
            text-align: center;
        }
        .grey{
            background: lightgrey;
        }
        .margin-b-10 {
            margin-bottom: 10px;
        }
        tr.pad-b-10 > td{
            padding-bottom: 10px;
        }
        .underline {
            border-bottom: solid black 1px;
        }
        .no-border,
        tbody.bordered > tr > td.no-border {
            border: none;
        }
        .text-center {
            text-align: center;
        }
        .text-left {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="page">
        <table class="width_100">
            <tbody>
            <tr>
                <td style="text-align: center;">
                    <h1>COLLATERAL DOCUMENT</h1>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>

    <table class="width_100">
        <table class="width_100 margin-b-10 middle">
            <tr>
                <td style="width: 30%;">
                    <nobr>Check one:
                    <div class="checkbox"></div> Appraised Outside
                    <div class="checkbox"></div> Verbally given</nobr>
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tr class="margin-b-10">
                <td style="width:165px;">Description of collateral given as security to:</td>
                <td style="border-bottom: black 1px solid;" >{% if collateral.dba %}{{ collateral.dba }}{% endif %}</td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tr class="margin-b-10">
                <td width="30%" style="padding-left:0;">
                    <table style="width:95%;">
                        <tr>
                            <td>Street:</td>
                            <td style="width:85%;border-bottom: black 1px solid;" >{{ application.location_obj.street }}</td>
                        </tr>
                    </table>
                </td>

                <td width="25%">
                    <table style="width:95%;">
                        <tr>
                            <td>City:</td>
                            <td style="width:85%;border-bottom: black 1px solid;" >{{ application.location_obj.city }}</td>
                        </tr>
                    </table>
                </td>

                <td width="25%">
                    <table style="width:95%;">
                        <tr>
                            <td>State:</td>
                            <td style="width:85%;border-bottom: black 1px solid;" >{{ application.location_obj.state_name }}</td>
                        </tr>
                    </table>
                </td>

                <td width="20%">
                    <table style="width:100%;">
                        <tr>
                            <td>ZIP:</td>
                            <td style="width:85%;border-bottom: black 1px solid;" >{{ application.location_obj.zip }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tr class="pad-b-10">
                <td>
                    by the undersigned to secure loan as numbered made on date stated. This document is made a part of Disclosure Statement-Note-Security Agreement, of even date and further identified by Account Number.
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tr class="pad-b-10">
                <td>
                    <table style="margin: 0 auto">
                        <tbody class="bordered">
                            <tr>
                                <td class="no-border">Date Verified</td>
                                <td class="no-border">Cust. Int.</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="margin: 0 auto">
                        <tbody class="bordered">
                            <tr>
                                <td class="no-border">Date Verified</td>
                                <td class="no-border">Cust. Int.</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="margin: 0 auto">
                        <tbody class="bordered">
                            <tr>
                                <td class="no-border">Date Verified</td>
                                <td class="no-border">Cust. Int.</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tbody class="bordered">
                <tr>
                    <td colspan="1">Pieces</td>
                    <td colspan="3">Category</td>
                    <td colspan="2">Item & Description</td>
                    <td colspan="2">Value</td>
                </tr>
                {% for good in collateral.consumer_goods %}
                <tr>
                    <td colspan="1">{{ good.pieces }}</td>
                    <td colspan="3">{{ good.category }}</td>
                    <td colspan="2">{{ good.description }}</td>
                    <td colspan="2">{{ good.value }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6" class="no-border">&nbsp;</td>
                    <td colspan="2">{{ collateral.consumer_goods|sum(attribute='value') }}</td>
                </tr>
            </tbody>
        </table>

        <br/>

        <table class="width_100">
            <tr class="pad-b-10">
                <td>
                    Also the following motor vehicle(s), complete with all attachments and equipment, now located at the address of the borrower(s) shown above to wit:
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tbody class="bordered">
                <tr>
                    <td width="15%">Make</td>
                    <td width="10%">Model</td>
                    <td width="10%">Year</td>
                    <td width="45%">VIN #</td>
                    <td width="30%">NADA VALUE</td>
                </tr>
                {% for vehicle in collateral.vehicles %}
                <tr>
                    <td width="15%">&nbsp;{{ vehicle.make }}</td>
                    <td width="10%">&nbsp;{{ vehicle.model }}</td>
                    <td width="10%">&nbsp;{{ vehicle.year }}</td>
                    <td width="45%">&nbsp;{{ vehicle.vin }}</td>
                    <td width="30%">&nbsp;{{ vehicle.nada_value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/>

        <table class="width_100">
            <tr class="pad-b-10">
                <td>
                    The above described items are fully paid for and free of any liens or encumbrances whatsoever and are given as collateral for monies loaned. Further said collateral is located at the address shown on Disclosure Statement-Note-Security Agreement. You will notify us in writing if any security is permanently moved from your residence until this indebtedness is satisfied in full.
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tbody>
            <tr>
                <td style="text-align: center;">
                    EXCLUSIONS
                </td>
            </tr>
            </tbody>
        </table>
        <br/>

        <table class="width_100">
            <tr class="pad-b-10">
                <td>
                    You specifically exclude from this security agreement the following items on a loan for a personal, family or household purpose, unless we have a purchase money security interest in the items: Clothing, furniture, appliances, one radio and one television, linens, china, crockery, kitchenware, and personal effects (including wedding rings) of the borrower(s) and his/her/their dependents. If any item(s) listed above fall within the excluded items listed here and we do not have a purchase money security interest in the item(s), then this pre-printed Exclusion will supersede the item(s) typed or written above and we do not take a security interest in any excluded item(s).
                </td>
            </tr>
        </table>
        
        <br/>

        <table class="width_100">
            <tr>
                <td width="100%">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:75px; display:inline-block; ">Borrowers Name:</td>
                            <td style="width:100%;border-bottom:black 1px solid;" >{{ application.first_name }} {% if application.middle_name %}{{ application.middle_name }} {% endif %}{{ application.last_name }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <br/>

        <table class="width_100">
            <tr class="margin-b-10">
                <td width="40%">
                    <table style="width:95%;">
                        <tr>
                            <td>Address:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" >{% if application.address %}{{ application.address }}{% endif %}</td>
                        </tr>
                    </table>
                </td>
                <td width="20%">
                    <table style="width:95%;">
                        <tr>
                            <td>City:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" >{% if application.city %}{{ application.city }}{% endif %}</td>
                        </tr>
                    </table>
                </td>
                <td width="20%">
                    <table style="width:95%;">
                        <tr>
                            <td>State:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" >{% if application.state %}{{ application.state }}{% endif %}</td>
                        </tr>
                    </table>
                </td>
                <td width="20%">
                    <table style="width:100%;">
                        <tr>
                            <td>ZIP:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" >{{ application.zip }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <br/>
        <br/>

        <table class="width_100">
            <tr class="pad-b-10">
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td>Witness:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td width="10%">&nbsp;</td>
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td>Borrower:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="pad-b-10">
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:60%; padding-left:0;">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:55px; display:inline-block;">Date of Loan:</td>
                                        <td style="width:100%;border-bottom: black 1px solid;" ></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:40%;">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:68px; display:inline-block;">Account Number:</td>
                                        <td style="width:100%;border-bottom: black 1px solid;" ></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="10%">&nbsp;</td>
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td>Co-Borrower:</td>
                            <td style="width:85%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <!-- repeat -->
        <table class="width_100">
            <tr class="pad-b-10">
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td>Witness:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td width="10%">&nbsp;</td>
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td>Borrower:</td>
                            <td style="width:5px; display: inline-block;">&nbsp;</td>
                            <td style="width:100%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="pad-b-10">
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:60%; padding-left:0;">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:55px; display:inline-block;">Date of Loan:</td>
                                        <td style="width:100%;border-bottom: black 1px solid;" ></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:40%;">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:68px; display:inline-block;">Account Number:</td>
                                        <td style="width:100%;border-bottom: black 1px solid;" ></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="10%">&nbsp;</td>
                <td width="45%">
                    <table style="width:100%;">
                        <tr>
                            <td>Co-Borrower:</td>
                            <td style="width:85%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </table>
</body>
</html>
