<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <style>
        @page {
            size: Letter;
            margin: 0.2in 0.2in 0.2in 0.2in;
        }
        .page{
            page-break-before: always;
        }
        html, body{
            font-size:8px;
            font-family: sans-serif;
        }

        h1{
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
        }
        h2{
            font-weight: bold;
            text-transform: uppercase;
        }
        h3 {
            text-transform: uppercase;
        }
        .small_ital{
            font-size: 7px;
            font-style: italic;
        }
        .small {
            font-size: 7px;
        }
        .width_100{
           width:100%;
        }
        table {
            border-collapse: collapse;
        }
        table tr, table td {
            border: none;
            vertical-align: top;
            padding: 1px 2px;
        }
        .middle > tr > td{
            vertical-align: middle;
        }
        table tr.higher {
            height: 20px;
        }
        table tr.normal {
            height: 14px;
        }
        tbody.bordered > tr > td{
            border: black 1px solid;
        }
        div.checkbox {
            display: inline-block;
            height:10px;
            width:10px;
            border-radius: 2px;
            border: black 1px solid;
            margin: 0 5px -2px;
            text-align: center;
        }
        .grey{
            background: lightgrey;
        }
        .margin-b-10 {
            margin-bottom: 10px;
        }
        tr.pad-b-10 > td{
            padding-bottom: 10px;
        }
        .underline {
            border-bottom: solid black 1px;
        }
        .text-center {
            text-align: center;
        }
        .text-left {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="page">
        <table class="width_100">
            <tbody>
            <tr>
                <td>
                    <table style="width: 90%;">
                        <tbody>
                        <tr>
                            <td style="width: 30%;">TIME TAKEN:</td>
                            <td style="width: 70%; border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td><br/>TAKEN BY:</td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td><br/>TIME DUE:</td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td>TIME COMPLETED:</td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br/><strong>CHECK BLOCK IF APPLICATION IS PHONED IN<div class="checkbox"></div></strong>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <br/>
                    <h1>APPLICATION FOR CREDIT</h1>
                </td>
                <td>
                    <br/><br/><br/>
                    <div class="checkbox"></div>Recorded on Application Log
                    <br/><br/><br/>
                    <div class="checkbox grey"></div>Shaded elements pertain to the military.
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table class="width_100">
        <tbody class="bordered">
            <tr>
                <td>
                    Date
                </td>
                <td colspan="3">Amount Requested<br>$</td>
                <td colspan="2">Purpose for loan</td>
                <td colspan="3">
                    <table>
                        <tr>
                            <td>Individual</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                        <tr>
                            <td>Joint</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                    </table>
                </td>
                <td colspan="5">
                    <table class="width_100">
                        <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>Source DM</td>
                                        <td><div class="checkbox">{% if data.origination == app_origination.DM.value %}X{% endif %}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Website</td>
                                        <td><div class="checkbox">{% if data.origination == app_origination.WEBSITE.value %}X{% endif %}</div></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>FB</td>
                                        <td><div class="checkbox">{% if data.origination == app_origination.FACEBOOK.value %}X{% endif %}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Other</td>
                                        <td><div class="checkbox">{% if data.origination == app_origination.OTHER.value %}X{% endif %}</div></td>
                                    </tr>
                                </table>
                            </td>
                            <td>Referred By</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <table class="width_100">
                        <tr>
                            <td>Last Name<br/>{{ data.last_name }}</td>
                            <td>First<br/>{{ data.first_name }}</td>
                            <td>Middle Init.<br/>{% if data.middle_name %}{{ data.middle_name }}{% endif %}</td>
                            <td>Nickname<br/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                <td colspan="3">Birth Date (Mo.-Yr.)<br/>{% if data.birth_date %}{{ data.birth_date.strftime('%m-%d-%Y') }}{% endif %}</td>
                <td colspan="2">Social Sec./INS. No.<br/>{% if data.ssn %}{{ data.ssn }}{% endif %}</td>
            </tr>
            <tr>
                <td colspan="5">
                    Spouse / Co-Applicant Name (Last, First, MI)
                    <br/>
                    <span class="small_ital"> Wisconsin applicants MUST provide Spouse Name</span>
                </td>
                <td colspan="3">
                    Spouse Birth Date (Mo-Yr)
                    <br/>
                    <strong><span class="small_ital"> Only if Co-Applicant</span></strong>
                </td>
                <td colspan="2">
                    <nobr>Spouse Social Sec./INS #</nobr>
                    <strong><span class="small_ital"> Only if Co-Applicant</span></strong></td>
                <td colspan="3">
                    <table class="width_100">
                        <tr>
                            <td>Marital Status: (Not<br/> applicable if applying <br/>for unsecured credit.)</td>
                            <td>
                                <table>
                                    <tr>
                                        <td><div class="checkbox"></div></td>
                                        <td>Married</td>
                                    </tr>
                                    <tr>
                                        <td><div class="checkbox"></div></td>
                                        <td>Unmarried</td>
                                    </tr>
                                    <tr>
                                        <td><div class="checkbox"></div></td>
                                        <td>Separated</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>Total # in Home/Dependents</td>
            </tr>
            <tr>
                <td colspan="8">
                    <table class="width_100">
                        <tr>
                            <td>Mail Address</td>
                            <td>City/State</td>
                        </tr>
                    </table>
                </td>
                <td colspan="2">ZIP</td>
                <td colspan="2">Yrs. In Area</td>
                <td colspan="2">Date at Present Address (Mo.Yr.)</td>
            </tr>
            <tr>
                <td colspan="4">
                    Home Phone #<br/>
                    Cell Phone #
                </td>
                <td colspan="3" rowspan="2">
                    <table>
                        <tr>
                            <td><div class="checkbox"></div></td>
                            <td>Rent Apt. or TR</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"></div></td>
                            <td>Rent House</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"></div></td>
                            <td>Buying Home or TR</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"></div></td>
                            <td>Own Home</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"></div></td>
                            <td>Other</td>
                        </tr>
                    </table>
                </td>
                <td colspan="4">
                    <table>
                        <tr>
                            <td>
                                Monthly Rent/Mortage Pmt.<br/>
                                $
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Furnished</td>
                                        <td><div class="checkbox"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Unfurnished</td>
                                        <td><div class="checkbox"></div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    Own. P.P.<br/>
                    Yes / No
                </td>
                <td colspan="2">Landlords Address if no Ph.#</td>
            </tr>
            <tr>
                <td colspan="4">
                    Co-App. Phone #<br/>
                    Cell Phone #
                </td>
                <td colspan="5">
                    <table>
                        <tr>
                            <td>Landlord Name /MTG Co.</td>
                            <td>Phone #</td>
                        </tr>
                    </table>
                </td>
                <td>FMV<br/>$</td>
                <td>MTG Bal<br/>$</td>
            </tr>
            <tr>
                <td colspan="14">
                    <table class="width_100">
                        <tr>
                            <td width="30%">Nearby Phone #</td>
                            <td width="30%">Name:</td>
                            <td width="40%">Distance:</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Co-Applicant<br/>
                    Employment
                </td>
                <td colspan="3">Date of Hire (Mo-Yr-Length)</td>
                <td colspan="4">Position:</td>
            </tr>
            <tr>
                <td colspan="2">
                    Hours or<br/>
                    Shift:
                </td>
                <td colspan="3" class="grey">Dept./Plt/Squad</td>
                <td colspan="4">Ph.# /Ext #</td>
                <td colspan="3">Supervisor:</td>
                <td colspan="1">
                    Pay<br/>
                    Day
                </td>
                <td colspan="1">
                    Salary Net<br/>
                    $
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    Employed<br/>
                    By:
                </td>
                <td colspan="3">Date of Hire (Mo-Yr-Length)</td>
                <td colspan="4">Position:</td>
            </tr>
            <tr>
                <td colspan="2">
                    Hours or<br/>
                    Shift:
                </td>
                <td colspan="3" class="grey">Dept./Plt/Squad</td>
                <td colspan="4">Ph.# /Ext #</td>
                <td colspan="3">Supervisor:</td>
                <td colspan="1">
                    Pay<br/>
                    Day
                </td>
                <td colspan="1">
                    Salary Net<br/>
                    $
                </td>
            </tr>
            <tr>
                <td colspan="14" class="grey">
                    <table class="width_100">
                        <tr>
                            <td style="width: 30%;">
                                <table style="width: 95%;">
                                    <tr>
                                        <td style="width: 18%;"><nobr>ETS DATE</nobr></td>
                                        <td style="width: 82%; border-bottom: black 1px solid;"></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 45%;">
                                <table style="width: 95%;">
                                    <tr>
                                        <td style="width: 55%;"><nobr>ORDERS/LEVY: IF SO, WHERE?</nobr></td>
                                        <td style="width: 45%; border-bottom: black 1px solid;"></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 25%;">
                                <table class="width_100">
                                    <tr>
                                        <td style="width: 5%;">WHEN?</td>
                                        <td style="width: 95%; border-bottom: black 1px solid;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 5px;">
                            <td></td><td></td><td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="border-right: none;">Previous employer if present is less than 2 years</td>
                <td colspan="3" style="border-right: none;border-left: none;"><br/>Phone #</td>
                <td colspan="3" style="border-left: none;"><br/>City/State</td>
                <td colspan="1">How Long</td>
                <td colspan="2" rowspan="3" style="padding: 3px 5%;">
                    <table class="width_100">
                        <tr>
                            <td colspan="3" style="text-align: center;">Other Income (Describe)<br/></td>
                        </tr>
                        <tr>
                            <td style="width: 49%; border-bottom: black 1px solid;"></td>
                            <td style="text-align: center;">$<br/><br/></td>
                            <td style="width: 49%; border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td style="width: 49%; border-bottom: black 1px solid;"></td>
                            <td style="text-align: center;">$<br/><br/></td>
                            <td style="width: 49%; border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div style="text-align: center;">Total all monthly Net Income:</div>
                                <div style="text-align: left;">$</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="border-right: none;">Co-Applicant Previous employer if less than 2 years</td>
                <td colspan="3" style="border-right: none;border-left: none;"><br/>Phone #</td>
                <td colspan="3" style="border-left: none;"><br/>City/State</td>
                <td colspan="1">How Long</td>
            </tr>
            <tr>
                <td colspan="5" style="border-right: none;">Former Address if present is less than 2 years</td>
                <td colspan="3" style="border-right: none;border-left: none;"><br/>City</td>
                <td colspan="3" style="border-left: none;"><br/>State</td>
                <td colspan="1">How Long</td>
            </tr>
            <tr>
                <td colspan="5" style="border-right: none;">Other Former Address</td>
                <td colspan="3" style="border-right: none;border-left: none;"><br/>City</td>
                <td colspan="3" style="border-left: none;"><br/>State</td>
                <td colspan="3" rowspan="3"><div style="text-align: center;">Additional Income</div>Alimony, Child Support, or Separate Maintenance Income need not be revealed if you do not wish to have it considered a basis for payment of this obligation. Alimony /Child Support $ _______</td>
            </tr>
            <tr>
                <td colspan="6"><strong>ALL PRESENT DEBTS OR CREDITORS<br/>If not at least four present Creditors, list paid out Creditors</strong></td>
                <td colspan="1"><strong>COLLATERAL</strong></td>
                <td colspan="2"><strong>BALANCE</strong></td>
                <td colspan="2"><strong>MONTHLY<br/>PAYMENTS</strong></td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="3" rowspan="6">
                    <table>
                        <tr>
                            <td>EVALUATION CHECKLIST</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="width: 45%;"><nobr>Ability to Repay (Free Income) $</nobr></td>
                            <td style="width: 55%; border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td><nobr>Total Dependents</nobr></td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td><nobr>Paying Habits (Good-Fair-Poor)</nobr></td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td><nobr>Average Length at 2 Emp’s</nobr></td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                        <tr>
                            <td><nobr>Average Length at Res’s</nobr></td>
                            <td style="border-bottom: black 1px solid;"></td>
                        </tr>
                    </table>
                    <table class="width_100">
                        <tr>
                            <td>How Secured:</td>
                            <td>Auto</td>
                            <td><div class="checkbox"></div></td>
                            <td>P.P.</td>
                            <td><div class="checkbox"></div></td>
                            <td>Other</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">Owns or Buying Home</td>
                            <td>Yes</td>
                            <td><div class="checkbox"></div></td>
                            <td>No</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">Telephone at Residence:</td>
                            <td>Yes</td>
                            <td><div class="checkbox"></div></td>
                            <td>No</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">Telephone at Emp.</td>
                            <td>Yes</td>
                            <td><div class="checkbox"></div></td>
                            <td>No</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">Directions to Res.</td>
                            <td>Yes</td>
                            <td><div class="checkbox"></div></td>
                            <td>No</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                    </table>
                    <table class="width_100">
                        <tr>
                            <td>Verify:</td>
                            <td>Employment</td>
                            <td><div class="checkbox"></div></td>
                            <td>Residence</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="6"> <br/></td>
                <td colspan="1"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <table class="width_100 margin-b-10 middle">
            <tr>
                <td style="width: 30%;">
                    <nobr>Have you ever filed bankruptcy?
                    <div class="checkbox"></div> Yes
                    <div class="checkbox"></div> No</nobr>
                    </td><td style="width: 10%;">
                    <nobr>If yes, when?</nobr></td><td style="width: 60%; border-bottom: black 1px solid;"></td>
            </tr>
        </table>
        <table class="width_100">
            <tr class="pad-b-10">
                <td style="width:25%;">
                    <table style="width:95%;">
                        <tr>
                            <td colspan="2">AUTO MAKE</td>
                        </tr>
                        <tr>
                            <td style="width:40%;"><nobr>& YEAR MODEL</nobr></td>
                            <td style="width:60%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;">
                    <table style="width:95%;">
                        <tr>
                            <td colspan="2">FINANCED</td>
                        </tr>
                        <tr>
                            <td style="width:5%;">BY</td>
                            <td style="width:95%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;">
                    <table style="width:95%;">
                        <tr>
                            <td colspan="2">MO.</td>
                        <tr>
                            <td style="width:5%;">PYMT.</td>
                            <td style="width:95%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;">
                    <table style="width:100%;">
                        <tr>
                            <td colspan="2" style="height:10px;"> </td>
                        <tr>
                            <td style="width:50%;"><nobr>NADA LOAN VALUE $</nobr></td>
                            <td style="width:50%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="pad-b-10">
                <td style="width:25%;">
                    <table style="width:95%;">
                        <tr>
                            <td colspan="2">AUTO MAKE</td>
                        </tr>
                        <tr>
                            <td style="width:40%;"><nobr>& YEAR MODEL</nobr></td>
                            <td style="width:60%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;">
                    <table style="width:95%;">
                        <tr>
                            <td colspan="2">FINANCED</td>
                        </tr>
                        <tr>
                            <td style="width:5%;">BY</td>
                            <td style="width:95%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;">
                    <table style="width:95%;">
                        <tr>
                            <td colspan="2">MO.</td>
                        <tr>
                            <td style="width:5%;">PYMT.</td>
                            <td style="width:95%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;">
                    <table style="width:100%;">
                        <tr>
                            <td colspan="2" style="height:10px;"> </td>
                        <tr>
                            <td style="width:50%;"><nobr>NADA LOAN VALUE $</nobr></td>
                            <td style="width:50%;border-bottom: black 1px solid;" ></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="width_100">
            <tr>
                <td style="width:22%;"><nobr>DIRECTIONS TO RESIDENCE IF ROUTE</nobr></td>
                <td style="width:78%;border-bottom: black 1px solid;"></td>
            </tr>
        </table>
        <br/>
        <table class="width_100">
            <tr class="pad-b-10">
                <td>
                    Everything that I have stated in this application is correct to the best of my knowledge. I understand that you will retain this application whether or not it is approved. You are authorized to check my credit, my current and future residence, and employment history and to answer questions about my credit experience with you notwithstanding that I may have exercised my right under the Gramm-Leach-Bliley Privacy Act. I hereby consent to you and/or your agents contacting my employer in connection with the collection of my debt (not applicable in Louisiana).<br/>
    (<u>For members of the military:</u> I agree to notify World Acceptance Corporation or any of its subsidiaries when I am leaving/moving, and will bring copies of my orders to the above stated office to be kept in my file.)
                </td>
            </tr>
        </table>
        <table class="width_100">
            <tr class="pad-b-10">
                <td style="width:50%;">
                    <table class="width_100">
                        <tr>
                            <td style="width:30%;"><nobr>BORROWER Identification</nobr></td>
                            <td class="underline" style="width:70%;"></td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%;">
                    <table class="width_100">
                        <tr>
                            <td style="width:33%;"><nobr>CO-BORROWER Identification</nobr></td>
                            <td class="underline" style="width:67%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="pad-b-10">
                <td style="width:50%;">
                    <table class="width_100">
                        <tr>
                            <td style="width:26%;"><nobr>BORROWER Signature</nobr></td>
                            <td class="underline" style="width:74%;"></td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%;">
                    <table class="width_100">
                        <tr>
                            <td style="width:30%;"><nobr>CO-BORROWER Signature</nobr></td>
                            <td class="underline" style="width:70%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="pad-b-10">
                <td style="width:50%;">
                    <table class="width_100">
                        <tr>
                            <td style="width:5%;">Witness</td>
                            <td class="underline" style="width:95%;"></td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%;">
                    <table class="width_100">
                        <tr>
                            <td style="width:5%;">Date</td>
                            <td class="underline" style="width:95%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="float: left;">WAC/GMS</div>
        <div style="float: right;">Revised 10/15</div>
    </div>
    <div class="page">
        <br/>
        <div class="text-center">
            <strong>IF CATEGORY OF REFERENCES NOT AVAILABLE GET OTHER RELATIVES OR FRIENDS</strong>
        </div>
        <br/>
        <table style="width:65%;">
            <tr>
                <td style="width:22%;">Checking Account:</td>
                <td style="width:15%;">YES/NO</td>
                <td style="width:16%;"><nobr>If Yes, Bank Name:</nobr></td>
                <td  style="width:47%;" class="underline"></td>
            </tr>
            <tr style="height: 7px;"><td colspan="4"></td></tr>
            <tr>
                <td style="width:22%;">Savings Account:</td>
                <td style="width:15%;">YES/NO</td>
                <td style="width:16%;"><nobr>If Yes, Bank Name:</nobr></td>
                <td style="width:47%;" class="underline"></td>
            </tr>
        </table>
        <br/>
        <div class="text-center">
            If we are unable to reach you by phone, we may contact the refernces, relatives and friends listed below for location purposes only.
        </div>
        <br/>
        <table class="width_100">
            <tr>
                <td style="width:8%;">PARENTS<br/>NAME</td>
                <td class="underline" style="width:24%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:8%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:11%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">PHONE OR EMP.</td>
                <td></td>
                <td class="text-center">ST. NO.</td>
                <td></td>
                <td class="text-center">STREET</td>
                <td></td>
                <td class="text-center">CITY</td>
                <td></td>
                <td class="text-center">STATE</td>
            </tr>
            <tr>
                <td style="width:8%;"><br/>IN-LAWS</td>
                <td class="underline" style="width:24%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:8%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:11%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">PHONE OR EMP.</td>
                <td></td>
                <td class="text-center">ST. NO.</td>
                <td></td>
                <td class="text-center">STREET</td>
                <td></td>
                <td class="text-center">CITY</td>
                <td></td>
                <td class="text-center">STATE</td>
            </tr>
            <tr>
                <td style="width:8%;">BROTHER<br/>SISTER</td>
                <td class="underline" style="width:24%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:8%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:11%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">PHONE OR EMP.</td>
                <td></td>
                <td class="text-center">ST. NO.</td>
                <td></td>
                <td class="text-center">STREET</td>
                <td></td>
                <td class="text-center">CITY</td>
                <td></td>
                <td class="text-center">STATE</td>
            </tr>
            <tr>
                <td style="width:8%;"><br/>CHILDREN</td>
                <td class="underline" style="width:24%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:8%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:11%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">PHONE OR EMP.</td>
                <td></td>
                <td class="text-center">ST. NO.</td>
                <td></td>
                <td class="text-center">STREET</td>
                <td></td>
                <td class="text-center">CITY</td>
                <td></td>
                <td class="text-center">STATE</td>
            </tr>
            <tr>
                <td style="width:8%;"><br/>REFERENCE</td>
                <td class="underline" style="width:24%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:8%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:11%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">PHONE OR EMP.</td>
                <td></td>
                <td class="text-center">ST. NO.</td>
                <td></td>
                <td class="text-center">STREET</td>
                <td></td>
                <td class="text-center">CITY</td>
                <td></td>
                <td class="text-center">STATE</td>
            </tr>
            <tr>
                <td style="width:8%;"><br/>REFERENCE</td>
                <td class="underline" style="width:24%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:8%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:13%;"></td>
                <td></td>
                <td class="underline" style="width:11%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">PHONE OR EMP.</td>
                <td></td>
                <td class="text-center">ST. NO.</td>
                <td></td>
                <td class="text-center">STREET</td>
                <td></td>
                <td class="text-center">CITY</td>
                <td></td>
                <td class="text-center">STATE</td>
            </tr>
        </table>
        <br/>
        <table class="width_100">
            <tbody class="bordered middle text-center">
            <tr>
                <td style="width:27%;">
                    <u>CREDITORS</u><br/>
                    (credit cards, loans, rent to own, mtg,auto)
                </td>
                <td style="width:8%;">NO. PREV.</td>
                <td style="width:8%;">LAST<br/>OPEN</td>
                <td style="width:8%;">HIGH<br/>CREDIT</td>
                <td style="width:8%;">MTH.<br/>PAY</td>
                <td style="width:8%;">BAL.</td>
                <td style="width:8%;">RATING</td>
                <td style="width:8%;">DLP</td>
                <td style="width:8%;">NEXT<br/>DUE</td>
                <td style="width:8%;">SECURITY</td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="higher">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="text-left higher">
                <td colspan="3" rowspan="2">
                    CREDIT INFORMATION
                    <table style="width:80%;">
                        <tr>
                            <td style="width:30%;"><nobr>TAKEN BY INITIAL</nobr></td>
                            <td class="underline" style="width:70%;"></td>
                        </tr>
                    </table>
                </td>
                <td>TOTAL</td>
                <td>TOTAL</td>
                <td>TOTAL</td>
                <td colspan="4" rowspan="2">
                    <table style="width:95%;">
                        <tr>
                            <td style="width:10%;">COMMENT</td>
                            <td class="underline" style="width:90%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="normal">
                <td colspan="3"></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <div class="text-center">
            ALL CREDIT INFORMATION IS TO BE RECORDED.
        </div>
        <br/>
        <table class="width_100" style="border:black 2px solid;">
            <tr>
                <td style="width: 30%;">
                    <span style="padding-left: 2px;">ABILITY TO PAY</span>
                    <table style="width: 95%;">
                        <tr>
                            <td style="width: 54%;">TOTAL MONTHLY INCOME $</td>
                            <td class="underline" style="width: 46%;"></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 20%;">
                    <span style="padding-left: 2px;">LESS</span>
                    <table style="width: 95%;">
                        <tr>
                            <td style="width: 50%;">MONTHLY PAY $</td>
                            <td class="underline" style="width: 50%;"></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 19%;">
                    <span style="padding-left: 2px;">LESS</span>
                    <table style="width: 95%;">
                        <tr>
                            <td style="width: 30%;">RENT $</td>
                            <td class="underline" style="width: 70%;"></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 25%;">
                    <span style="padding-left: 2px;">FREE INCOME</span>
                    <table class="width_100">
                        <tr>
                            <td style="width: 5%;">$</td>
                            <td class="underline" style="width: 95%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 5px;"><td></td></tr>
        </table>
        <br/>
        <table class="width_100">
            <tr>
                <td style="width:18%;">BORROWER’S EMP. VERIFIED</td>
                <td class="underline" style="width:14%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td class="text-center">INITIAL</td>
                <td></td>
                <td class="text-center">WHO CONTACTED</td>
                <td></td>
                <td class="text-center">HOW LONG EMP</td>
                <td></td>
                <td class="text-center">PERMANENT STATUS</td>
                <td></td>
                <td class="text-center">APPROX. INCOME/RANK</td>
            </tr>
            <tr>
                <td style="width:18%;">PREVIOUS EMP. VERIFIED</td>
                <td class="underline" style="width:14%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td class="text-center">INITIAL</td>
                <td></td>
                <td class="text-center">WHO CONTACTED</td>
                <td></td>
                <td class="text-center">HOW LONG EMP</td>
                <td></td>
                <td class="text-center">PERMANENT STATUS</td>
                <td></td>
                <td class="text-center">APPROX. INCOME/RANK</td>
            </tr>
            <tr>
                <td style="width:18%;">CO-APPLICANT EMP. VERIFIED BY</td>
                <td class="underline" style="width:14%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
                <td></td>
                <td class="underline" style="width:15%;"></td>
            </tr>
            <tr class="small">
                <td></td>
                <td class="text-center">INITIAL</td>
                <td></td>
                <td class="text-center">WHO CONTACTED</td>
                <td></td>
                <td class="text-center">HOW LONG EMP</td>
                <td></td>
                <td class="text-center">PERMANENT STATUS</td>
                <td></td>
                <td class="text-center">APPROX. INCOME/RANK</td>
            </tr>
        </table>
        <br/>
        <table class="width_100">
            <tbody class="bordered">
            <tr>
                <td colspan="4" style="width: 26%;">RESIDENCE VERIFICATION</td>
                <td colspan="5" style="width: 26%;">
                    <table class="text-center width_100">
                        <tr>
                            <td style="width: 34%;">HOUSE</td>
                            <td style="width: 33%;">APT.</td>
                            <td style="width: 33%;">TRAILER</td>
                        </tr>
                        <tr>
                            <td><div class="checkbox"></div></td>
                            <td><div class="checkbox"></div></td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 13%;">
                    <table>
                        <tr>
                            <td>FURNISHED</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                        <tr>
                            <td>UNFURNISHED</td>
                            <td><div class="checkbox"></div></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 13%;">PAYMENT</td>
                <td style="width: 13%;">HOW LONG</td>
                <td style="width: 13%;">SPOKE TO</td>
            </tr>
            <tr>
                <td colspan="4">MANAGER ONLY-APPROVED FOR</td>
                <td colspan="4">GROSS<br/>$</td>
                <td colspan="2">NET<br/>$</td>
                <td colspan="3">
                    <span style="padding-left: 2px;">SUGGESTED TERMS</span>
                    <table>
                        <tr>
                            <td class="underline" style="width: 42%;"></td>
                            <td style="width: 16%;">MO. @ $</td>
                            <td class="underline" style="width: 42%;"></td>
                        </tr>
                        <tr style="height:5px"><td></td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="9">REJECTED-COMMENTS</td>
                <td colspan="4">
                    <table class="width_100">
                        <tr>
                            <td>APPROVED</td>
                            <td>CHECK APPROPRIATE BLOCK</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="9"></td>
                <td colspan="4">
                    <table class="width_100">
                        <tr>
                            <td>V.L. <div class="checkbox"></div> </td>
                            <td>O.S.A. <div class="checkbox"></div></td>
                            <td>AUTO <div class="checkbox"></div></td>
                            <td>P.P. <div class="checkbox"></div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" rowspan="2">DATE<br/>APVD-UNMD-SOL.</td>
                <td rowspan="2"><br/>COMMENT</td>
                <td colspan="3" rowspan="2">DATE<br/>APVD-UNMD-SOL.</td>
                <td colspan="2" rowspan="2"><br/>COMMENT</td>
                <td colspan="4">COMMENTS</td>
            </tr>
            <tr class="normal">
                <td colspan="4"></td>
            </tr>
            <tr class="normal">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="4"></td>
            </tr>
            <tr class="normal">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="4"></td>
            </tr>
            <tr class="normal">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="4" rowspan="3" style="border-bottom: none; border-right: none; padding: 0 20px;">

                </td>
            </tr>
            <tr class="normal">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <tr class="normal">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>
        <table style="width: 40%;margin-left: 55%;margin-top:-14px;">
            <tr>
                <td class="underline"></td>
            </tr>
            <tr>
                <td class="text-center small">DATE MGRS SIGNATURE</td>
            </tr>
        </table>





    </div>

</body>
</html>
